* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../images/bg.jpg) no-repeat;
  background-size: 100% 100%;
  position: fixed;
}
.wrap .player {
  width: 800px;
  height: 550px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -272px;
}
.wrap .player .player-top {
  width: 100%;
  height: 60px;
  background-color: #39abd8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 30;
}
.wrap .player .player-top img {
  height: 22px;
  margin-left: 26px;
}
.wrap .player .player-top input {
  width: 300px;
  height: 36px;
  border-radius: 20px;
  border: 0;
  padding: 10px;
  margin-right: 26px;
  background-color: rgba(255, 255, 255, 0.45);
  background-position: 265px;
  background-repeat: no-repeat;
  background-image: url("../images/zoom.png");
}
.wrap .player .player-middle {
  background-color: rgba(255, 255, 255, 0.5);
  height: 435px;
  position: relative;
}
.wrap .player .player-middle .player-middle-left {
  width: 200px;
  height: 435px;
  position: absolute;
  padding: 10px;
}
.wrap .player .player-middle .player-middle-left .left-list::-webkit-scrollbar {
  display: none;
}
.wrap .player .player-middle .player-middle-left .left-list {
  width: 180;
  height: 415px;
  overflow-y: auto;
  overflow-x: hidden;
}
.wrap .player .player-middle .player-middle-left .left-list .list-item {
  width: 180px;
  height: 40px;
  background-color: rgba(240, 240, 240, 0.3);
  color: #333;
  padding-left: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.wrap .player .player-middle .player-middle-left .left-list .list-item a {
  width: 17px;
  height: 17px;
  background-size: 100%;
  margin-right: 5px;
  display: inline-block;
  background-image: url("../images/play.png");
}
.wrap .player .player-middle .player-middle-left .left-list .list-item b {
  font-weight: normal;
  width: 122px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrap .player .player-middle .player-middle-left .left-list .list-item span {
  width: 23px;
  height: 17px;
  display: inline-block;
}
.wrap .player .player-middle .player-middle-left .left-list .list-item span i {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: url(../images/table.png) left -48px no-repeat;
}
.wrap .player .player-middle .player-middle-left img {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.wrap .player .player-middle .player-middle-middle.playing .middle-one {
  transform: rotate(0);
}
.wrap .player .player-middle .player-middle-middle {
  width: 400px;
  height: 435px;
  position: absolute;
  left: 200px;
  top: 0px;
}
.wrap .player .player-middle .player-middle-middle .disc,
.wrap .player .player-middle .player-middle-middle .cover {
  animation-play-state: running;
}
.wrap .player .player-middle .player-middle-middle .middle-one {
  position: absolute;
  left: 200px;
  top: -10px;
  z-index: 10;
  transform: rotate(-25deg);
  transform-origin: 12px 12px;
  transition: 1s;
}
.wrap .player .player-middle .player-middle-middle .animation {
  animation-name: Rotate;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  animation-timing-function: linear;
  animation-duration: 5s;
}
.wrap .player .player-middle .player-middle-middle .middle-two {
  position: absolute;
  left: 73px;
  top: 60px;
  z-index: 9;
}
.wrap .player .player-middle .player-middle-middle .middle-three {
  position: absolute;
  left: 125px;
  top: 112px;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  z-index: 8;
}
.wrap .player .player-middle .player-middle-right {
  width: 200px;
  height: 485px;
  position: absolute;
  left: 600px;
  top: 0;
  padding: 25px 10px;
}
.wrap .player .player-middle .player-middle-right .right-title {
  position: absolute;
  top: 10px;
}
.wrap .player .player-middle .player-middle-right .right-list::-webkit-scrollbar {
  display: none;
}
.wrap .player .player-middle .player-middle-right .right-list {
  width: 180px;
  height: 410px;
  overflow: auto;
}
.wrap .player .player-middle .player-middle-right .right-list dl {
  position: relative;
  padding-top: 10px;
  padding-left: 55px;
  margin-bottom: 20px;
}
.wrap .player .player-middle .player-middle-right .right-list dl dt {
  position: absolute;
  left: 4px;
  top: 10px;
}
.wrap .player .player-middle .player-middle-right .right-list dl dt img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.wrap .player .player-middle .player-middle-right .right-list dl .name {
  font-weight: bold;
  color: #333;
  padding-top: 5px;
}
.wrap .player .player-middle .player-middle-right .right-list dl dd {
  font-size: 12px;
}
.wrap .player .player-middle .player-middle-right .right-list dl .detail {
  color: #666;
  margin-top: 5px;
  line-height: 18px;
}
.wrap .player .player-middle .player-middle-right .right-img {
  position: absolute;
  left: 0;
  top: 0;
}
.wrap .player .player-bottom {
  width: 800px;
  height: 50px;
  background-color: #f1f3f4;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.wrap .player .player-bottom .myaudio {
  width: 800px;
  height: 40px;
}
.wrap .player .video_con video {
  position: fixed;
  width: 800px;
  height: 546px;
  left: 50%;
  top: 50%;
  margin-top: -273px;
  transform: translateX(-50%);
  z-index: 990;
}
.wrap .player .video_con .mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 980;
  background-color: rgba(0, 0, 0, 0.8);
}
.wrap .player .video_con .shutoff {
  position: fixed;
  width: 40px;
  height: 40px;
  background: url("../images/shutoff.png") no-repeat;
  left: 50%;
  margin-left: 400px;
  margin-top: -273px;
  top: 50%;
  z-index: 995;
}
